.nord0 {
  color: var(--nord0);
}

.nord1 {
  color: var(--nord1);
}

.nord2 {
  color: var(--nord2);
}

.nord3 {
  color: var(--nord3);
}

.nord4 {
  color: var(--nord4);
}

.nord5 {
  color: var(--nord5);
}

.nord6 {
  color: var(--nord6);
}

.nord7 {
  color: var(--nord7);
}

.nord8 {
  color: var(--nord8);
}

.nord9 {
  color: var(--nord9);
}

.nord10 {
  color: var(--nord10);
}

.nord11 {
  color: var(--nord11);
}

.nord12 {
  color: var(--nord12);
}

.nord13 {
  color: var(--nord13);
}

.nord14 {
  color: var(--nord14);
}

.nord15 {
  color: var(--nord15);
}
